<p>
    <mat-toolbar class="ws2-clr">
      <span>All Assigned Task</span>
      <span></span>
    </mat-toolbar>
  </p>
  
  <div class="ws-clear">
<ol>
   <th><span [routerLink]="['/charts']">Table</span></th><br>
    <th><span [routerLink]="['/covid19']">covid19</span></th><br>
   <th><span [routerLink]="['/formtask']">formtask</span></th><br>
    <th><span [routerLink]="['/profile']">profile</span></th><br>
    <th><span [routerLink]="['/covid19bar']">covid19bar</span></th><br>
    <th><span [routerLink]="['/countrybarreport']">countrybarreport</span></th><br>
   <th> <span [routerLink]="['/countrypiereport']">countrypiereport</span></th><br>
    <th><span [routerLink]="['/linegraph']">linegraph</span></th><br>
</ol>
  </div>
  