h1{
    text-decoration-line: underline;
    padding-left: 2%;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  #chartdiv1 {
    width: 100%;
    height: 400px;
  }
  .Ws3-clear{
      float: right;
      padding-right: 20%;
      cursor: pointer;
  }

  .ws3-space{
   color: brown;
   
     padding-left: 10%;;
  }