// body {
//     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//   }
  
//   #chartdiv {
//     width: 100%;
//     height: 300px;
//   }
  h1{
      padding-left: 2%;
      color: teal;
      text-decoration-line: underline;
  }
  .Ws3-clear{
float: right;
padding-right: 20%;
  }